.active-id, .active-time, .active-players, .active-expert {float: left; margin-left: 15px;}
.finished-id, .finished-date, .finished-players, .finished-expert, .finished-winner, .finished-twitch, .finished-rating,
.active-time, .active-free, .active-last, .active-ticket {float: left; margin-left: 15px;}
.clear {clear: both;}
.active-players h3, .finished-players h3 { margin: 0; padding: 0;}
.active-players ul, .finished-players ul {display: none;}
.active-twitch { display: none; width: 620px; margin: 0 auto; }
.best-match .active-twitch,
.display.active-twitch { display: block; }
.display.active-twitch { margin-top: 15px; }
table.planned-matches tr.we-need-a-hero {background-color: #0F1; }
table.planned-matches tr.we-need-a-hero td { position: relative; }
.hero-span {
    position: absolute;
    top: 4px;
}
.hero-left {
    left: -60px;
}
.hero-right {
    right: -60px;
}
.hidden {display: none;}
.views-field-field-need-player {display: none;}
ul.players-list li {display: block;}
.region-content ul.items-list  { padding: 0;}

ul.items-list li.items-list-item { list-style: none; float: left; padding: 2px; }
ul.items-list li.items-list-item img { display: block; }
ul.items-list li.items-list-item.last {padding-right: 0px; }
span.yesno {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
.header-id,
.header-time,
.header-mod,
.header-players {
    text-align: center;
    float: left;
    border: 1px solid #bababa;
}
.header-id {
    width: 100px;
}
.header-time,
.header-mod {
    width: 200px;
}
.header-players {
    width: 300px;
}
.vs-separator {
    text-align: center;
    font-size: 35px;
}
.vod {
    text-align: center;
}
a.check-vod {
    display: block;
    border: 1px solid #bababa;
    font-size: 20px;
    width: 150px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    background: #f4f4f4;
}
.radiant,
table.match-statistics tr th.radiant,
table.finished-matches tr th.radiant {
    color: #82c261;
}
.dire,
table.match-statistics tr th.dire,
table.finished-matches tr th.dire {
    color: #d66150;
}
div.winner { text-align: center; margin: 10px 0;}
table.winner {
    margin: 0;
    border: none;
    font-size: 20px;
}
table.winner tbody,
table.winner tr,
table.finished-matches table.winner tr td {
    border: none;
    text-align: center;
    background: transparent;
    padding: 0;
}

table.match-statistics {

}
table.match-statistics tr td {
    border: none;
    text-align: center;
}
table.match-statistics tr th,
table.finished-matches tr th {
    background: #fff;
    border: 1px solid #000;
    color: #000;
    text-align: center;
}
table.match-statistics tr td.nicknames,
table.match-statistics tr th.nicknames{
    text-align: left;
}
td.nicknames { width: 18%; }
td.levels { width: 5%; }
td.heroes {width: 5%; }
td.heroes img { display: block; }
td.kda { width: 4%; }
td.items { width: 30%; }
td.digits { width: 6%; }

table.finished-matches ul.players-list {
    height: 20px;
    overflow: hidden;
}
table.finished-matches tr { background: transparent; }
table.finished-matches tr td { border: 1px solid #000;}
table.finished-matches td.id { width: 5%; text-align: center; }
table.finished-matches td.time { width: 5%; text-align: center; }
table.finished-matches td.date { width: 8%; text-align: center; }
table.finished-matches td.mod { width: 5%; text-align: center; }
table.finished-matches td.rating { width: 10%; text-align: center; }
table.finished-matches td.results { width: 17%; }
table.finished-matches td.teams { width: 25%; position: relative; }
.more-info,
.less-info {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: #efefef;
    padding: 5px 10px;
    width: 75px;
}
table.finished-matches a.check-vod {
    width: auto;
    text-align: center;
    font-size: 15px;
}
#block-match-4 {
    text-align: left;
}
#match-node-like-form {
    width: 172px;
    margin: 0 auto;
}
input.form-submit.match-like,
input.form-submit.match-dislike {
    font-size: 14px;
    width: 85px;
    margin: 0;
    padding: 0;
}
input.form-submit.match-like {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
input.form-submit.match-dislike {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}