@font-face {
    font-family: "Din";
    src: url("../fonts/DINPro-Regular.otf");
}
@font-face {
    font-family: "Din";
    src: url("../fonts/DINPro-Bold.otf");
    font-weight: bold;
}

#block-ajax-register-ajax-register-block { background: #ee2d42; width: 170px; font-size: 14px; position: absolute; right: 0; top: 35px; display: none; z-index: 1;}
#block-ajax-register-ajax-register-block a { color: #fff; }
#block-ajax-register-ajax-register-block .content { margin: 0;}
.block ul.ajax-register-links { display: block;}
.block ul.ajax-register-links li {float: none; display: block;}
div.ctools-modal-content .modal-header { background: #ee2d42;}
#modal-content form input.form-submit, .button { border-radius: 0; background: url('../images/button.png') 50% 50% transparent; font-size: 17px; color: #fff; margin: 0;}
#modal-content .messages { width: auto !important; }
#modal-content .messages a { display: none;}
#block-system-user-menu { background: #ee2d42; width: 170px; position: absolute; right: 0; top: 35px; display: none; z-index: 1;}
.i18n-ru #block-system-user-menu,
.i18n-ru #block-ajax-register-ajax-register-block { width: 190px; right: 35px;}
#block-system-user-menu h2 { display: none; }
#block-system-user-menu .content { margin: 0;}
#block-system-user-menu ul li { list-style: none;}
div.ctools-modal-content .form-item .description { display: none;}
#block-quicktabs-front-mathces h2 { display: none; }
#control-panel {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
    position: relative;
    background: url('../images/control-bg.png') 50% 50% transparent;
    border-bottom-left-radius: 5px;
}
ul.quicktabs-tabs {
    height: 43px;
}
.item-list ul.quicktabs-tabs  li {
    display: block;
    float: left;
    width: 330px;
    text-align: center;
    background: url('../images/tab-li-big.png') 50% 50% transparent;
    height: 45px;
    line-height: 45px;
    font-size: 25px;
    padding: 0;
    margin: 0;
    cursor: pointer;

}
.block-quicktabs .content {
    margin: 0;
}
#quicktabs-container-front_mathces {
    border: 1px solid #bababa;
}
.active-match {
    border-bottom: 1px dashed #bababa;
}
.item-list ul.quicktabs-tabs li.active,
.item-list ul.quicktabs-tabs li:hover {
    background: url('../images/tab-li-active-big.png') 50% 50% transparent;
}
.item-list ul.quicktabs-tabs li.last:after {
    clear: both;
}
ul.quicktabs-tabs  li a {
    display: block;
}
ul.quicktabs-tabs  li.active a,
.item-list ul.quicktabs-tabs  li:hover a {
    color: #fff;
    display: block;
}

h1#page-title {
    margin: 5px 0 0;
    padding: 15px;
}
.page-news h1#page-title {
    border-bottom: 1px solid #000;
}
.node-type-news h1#page-title {
    background: url('../images/dota2.png') 99% 10px no-repeat #ee2d42;
    color: #fff;
}

.news-image {
    border: 1px solid #bababa;
}
.news-image img {
    display: block;
}
.region-content {
    position: relative;
}
.view-id-news .views-row {
    border-bottom: 2px solid #ee2d42;
    margin-top: 5px;
}
.views-field-field-image {
    float: left;
    padding: 10px;
}
.views-field-title {
    font-size: 18px;
    font-weight: 700;
    padding: 5px 0 0;
}
.views-field-body {
    height: 80px;
    overflow: hidden;
}
.views-field-created,
.views-field-name {
    float: left;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.views-field-view-node {
    float: right;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.separator {
    clear: both;
    border-bottom: 1px dashed #bababa;
}
h2#control {
    float: right;
    margin: 0;
}

.page-user-hybridauth div.vertical-tabs {
    display: none;
}
#match-create-match-form {
}
#match-create-match-form input.form-submit {
    border: none;
    float: right;
}
#match-create-match-form .form-item {
    float: left;
    margin: 0;
    height: 75px;
}
#match-create-match-form .form-item.form-item-last,
#match-create-match-form .form-item.form-item-time {
    margin-left: 25px;
}
#match-create-match-form .form-item.form-item-time input {
    font-size: 15px;
}
#match-create-match-form .form-item.form-item-last {
    line-height: 75px;
}
#match-create-match-form .form-item label {
    font-size: 15px;
    text-align: center;
    font-weight: 100;
}
#match-create-match-form .form-item .description {
    font-size: 10px;
    text-align: center;
}
.center {
    text-align: center;
}

.page-news #block-search-form {
    position: absolute;
    top: -50px;
    right: 15px;
    font-size: 15px;
}
.admin-menu.page-news #block-search-form {
    top: -65px;
}
.info-updater {
    border-top: 1px dashed #bababa;
    border-bottom: 1px dashed #bababa;
}
.info-wrapper .form-item.form-type-textfield {
    float: left;
}
.info-wrapper .form-item.form-item-mod {
    margin-left: 25px;
}
.info-wrapper .form-item.form-item-last {
    line-height: 25px;
}
.controls-updater h2 {
    text-align: center;
}
.controls-wrapper {
    width: 320px;
    margin: 0 auto;
}
.controls-wrapper .form-actions {
    width: 150px;
    float: left;
    padding: 5px;
}
.controls-wrapper .form-actions input.form-submit {
    width: 150px;
}
table.planned-matches {
    margin: 0px;

}
table.planned-matches tr td,
table.planned-matches tr th {
    text-align: center;
    border: 1px solid #000;
    font-size: 15px;
}
table.planned-matches tr th {
    background: #fff;
    color: #000;
    font-size: 17px;
}
.node-match-planned-info {
    text-align: center;
}
a.pro-user {
     background: url('../images/pro-user.png') 0 50% no-repeat transparent;
     padding-left: 27px;
}
a.regular-user {
    background: url('../images/regular-user.png') 0 50% no-repeat transparent;
    padding-left: 27px;
}
.accepted-users {
}
form#match-node-planned-ticket-form {
    text-align: center;
}
table.planned-matches,
table.finished-matches {
    margin: 0px;

}
table.active-matches tr td,
table.active-matches tr th {
    text-align: center;
    border: none;
    font-size: 15px;
    vertical-align: top;
}
table.active-matches tr th {
    background: #fff;
    color: #000;
    font-size: 17px;
}
table.active-matches tr td.row-id {
    width: 10%;
}
table.active-matches tr td.row-mod {
    width: 15%;
}
table.active-matches tr td.row-timing {
    width: 25%;
    font-size: 15px;
}
table.active-matches tr td.row-players {
    width: 50%;
}
.comment .comment-created {
    float: right;
}
.comment .new-comment span{
    background: url('../images/new.png') 0 6px no-repeat transparent;
    padding-left: 30px;
    display: block;
}

.comment .comment-author a {
    color: #ee2d42;
}
.comment-info {
    border-bottom: 1px dashed #d2d2d2;
}
.comment {
    border-bottom: 2px solid #d2d2d2;
}
.comment p {
    margin: 0;
}
#edit-like {
    float: left;
    padding: 0;
}
#edit-dislike {
    float: right;
    padding: 0;
}
span.stars, span.stars span {
    display: block;
    background: url('../images/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.stars span {
    background-position: 0 0;
}
#mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 100;
}
#above-mask {
    position: relative;
    width: 500px;
    margin: 0 auto;
    z-index: 101;
    background: #fff;
}
#match-kick-player-form {
    padding: 0 10px;
}
div.contextual-links-wrapper {
    z-index: 99;
}
.modal-header {
    background: #EE2D42;
    font-size: 15px;
    color: #fff;
    padding: 3px;
}
a.close {
    width: 16px;
    height: 16px;
    background: url('../images/icon-close-window.png') no-repeat 50% 50% transparent;
    position: absolute;
    right: 5px;
    top: 5px;
}
label[for="edit-reason"] {
    display: none;
}
table.node-match-planned-info {
    border-bottom: 2px solid #d12d40;
    margin: 0;
}
table.node-match-planned-info tbody {
    border: none;
}
table.node-match-planned-info tr {background: transparent;}
table.node-match-planned-info tr td {
    border: none;
    padding: 0;
    vertical-align: top;
}
.node-match-planned-info .plain-wrapper {
    margin: 0 auto;
}
.node-match-planned-info .plain-text {
    float: left;
    padding-left: 20px;
    font-size: 16px;
}
.node-match-planned-info .plain-text.first {
    padding-left: 40px;
}
.node-match-planned-info .plain-text h3 {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}
.node-match-planned-info .timing-wrapper {
    text-align: center;
    font-size: 25px;
    color: #fff;
}
.node-match-planned-info .timing-wrapper span { display: block;}
.node-match-planned-info .timing-wrapper span.title { font-size: 15px; }
.node-match-planned-info .timing { float: left; width: 546px; height: 54px; background: url('../images/timing-bg.png') 0 0 repeat-x transparent; }
.node-match-planned-info .corner-bottom-left {
    float: right;
    width: 54px;
    height: 54px;
    background: url('../images/corner-bottom-left.png') 0 0 no-repeat transparent;
}
.reason-list {
    list-style: none;
    height: 34px;
    overflow: hidden;
}
.reason-list li.list-item {
    margin: 0;
    line-height: 14px;
}
.see-all {
    cursor: pointer;
    color: #c4c4c4;
    font-size: 12px;
}
.node-match-planned-info .accepted-users .title-wrapper {
    margin-left: 40px;
    position: relative;
}
.node-match-planned-info .accepted-users span.accepted-title {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    position: absolute;
    left: 0;
    top: -40px;
}
.node-match-planned-info .accepted-users ul li.players-list-item {
    padding: 10px;
    font-size: 16px;
    width: 235px;
    position: relative;
}
.player-controls {
    position: absolute;
    right: -80px;
    top: 13px;
}
a.player-button {
    display: inline-block;
    height: 21px;
    width: 21px;
    background: url('../images/player-buttons.png') 0 -22px no-repeat transparent;
    margin-left: 5px;
}
a.player-button:hover {
    background-position-y: 0px;
}
a.player-button.add {
    background-position-x: -26px;
}
a.player-button.kick {
    background-position-x: -52px;
}
span.cash {
    display: inline-block;
    padding: 2px 100px 2px 10px;
    background: url('../images/pcoins-mini.png') 45px 50% no-repeat #fff;
    margin-right: 25px;
    float: left;
    border-radius: 3px;
    margin-top: 3px;
}
#block-quicktabs-front-mathces,
.match-finished-wrap {
    width: 990px;
    margin: 0 auto;
}
.match-finished-wrap .timing { margin-left: 20px; }
#comments,
#privatemsg-form-reply {
    border-top: 2px solid #d12d40;
}
#comments h2 {
    background: #f4f4f4;
    padding-left: 20px;
    padding-top: 5px;
    margin: 0;
}
#comments #comment-form {
    padding: 20px;
    background: #f4f4f4;
}

#comment-body-add-more-wrapper .form-type-textarea label {
    display: none;
}
#comments .comments-wrapper {
    width: 980px;
    margin: 0 auto;
}
#comments .comment {
    margin-bottom: 5px;
}
.float-right { float: right; }
.float-left { float: left; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
#uniteller-order-form { margin: 15px; }
#uniteller-order-form label[for="edit-qty"] {
    background: url('../images/pcoins-mini.png') 100% 50% no-repeat transparent;
    width: 200px;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 100;
}

#uniteller-order-form #edit-qty {
    width: 200px;
}
#uniteller-order-form label[for="edit-qty"] span {
    display: none;
}
.recounter-text {
    color: #d2d2d2;
    font-size: 22px;
    padding: 0 10px;
}
.bux {
    color: #000;
    padding-left: 5px;
}
#qty-recounter {
    border: 1px solid #d2d2d2;
    width: 200px;
}
#logo img {
    display: block;
}
.page-uniteller-buy #featured {
    padding: 0;
    border: none;
}
.uniteller-image img {
    display: block;
}
.tabs ul.primary {
    padding: 0;
    font-size: 18px;
    background: url('../images/link.png') 50% 50% transparent;
}
.tabs ul.primary li {
    background: url('../images/link.png') 50% 50% transparent;
    text-align: center;
    margin: 0;
    border-right: 1px solid #e64b5b;
    height: 32px;
}
.tabs ul.primary li.active {
    background: url('../images/link-active.png') 50% 50% transparent;
}
.tabs ul.primary li a,
.tabs ul.primary li.active a {
    background: none;
    border: none;
    float: none;
    color: #fff;
    line-height: 32px;
}
.tabs ul.primary li.tab-new-message {
    float: right;
    background: url('../images/new-msg-corner.png') 0% 50% no-repeat transparent;
    width: 250px;
}
.privatemsg-message {
    width: 990px;
    margin: 0 auto;
    border-bottom: 1px dashed #d2d2d2;
    margin-bottom: 10px;
}
.privatemsg-message-last {
    border-bottom: none;
    margin-bottom: 0;
}
.privatemsg-author-avatar,
.privatemsg-author-avatar img {
    width: 100px;
    max-height: 100px;
    padding: 0;
}

.privatemsg-message-column {
    width: 890px;
}
div.privatemsg-message-information {
    background: #f4f4f4;
    height: 20px;
}
.privatemsg-author-name {
    padding-left: 20px;
}
.privatemsg-message-date,
.privatemsg-message-delete {
    float: right;
}
.privatemsg-message-date,
span.privatemsg-message-new {
    margin-right: 5px;
}
.privatemsg-user-block {
    margin-left: 30px;
}
.privatemsg-message-date {
    font-size: 14px;
    line-height: 20px;
    color: #000;
    padding: 0;
}
#content h2.privatemsg-reply {
    background: #f4f4f4;
    padding-left: 20px;
    padding-top: 5px;
    margin: 0;
}
#privatemsg-form-reply #edit-actions,
#privatemsg-form-reply .text-format-wrapper {
    padding: 20px;
    background: #f4f4f4;
}
#privatemsg-form-reply #edit-actions {
    margin: 0;
    padding: 0 20px 10px;
}
#privatemsg-form-reply #edit-actions input {
    float: right;
    margin: 0;
}
#privatemsg-form-reply #edit-actions input:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.control-icon {
    width: 20px;
    height: 20px;
    background: url('../images/roll.png') 50% 50% no-repeat transparent;
    display: block;
    padding: 5px 10px;
}
.update-wallet {
    background: #3d3d3d;
    color: #fff;
    padding: 2px 10px;
    border-radius: 3px;
    float: right;
    margin-right: 15px;
    margin-top: 3px;
}
.node-news .content {
    padding: 10px;
}
#match-node-active-form,
#match-node-planned-form {
    padding: 10px;
}
table.active-matches tr td.row-twitch {
    border-top: 2px solid #e64b5b;
    padding: 0;

}
.twitch-wrap {
    height: 29px;
    overflow: hidden;
}
.best-match .twitch-wrap {
    height: auto;
}
.twitch-slider {
    width: 220px;
    height: 29px;
    margin: 0 auto;
    background: url('../images/stream-button.png') 50% 50% no-repeat transparent;
    cursor: pointer;
}
.widget {
    margin-top: 20px;
}
table.active-matches {
    margin-top: 20px;
    margin-bottom: 0;
    border-bottom: none;
}
.margin-30 {
    height: 30px;
}
#privatemsg-new {
    padding: 0 10px;
}
#privatemsg-new ul li {
    list-style: none;
}
.profile {
    padding: 0 10px;
}
.user-wrapper {
    padding: 10px;
}
.user-picture-wrap,
.user-profile-level,
.user-ratings,
.match-box {
    float: left;
}
.user-ratings {
    padding-top: 50px;
    margin-left: 30px;
}
.match-box {
    text-align: center;
    margin: 0 10px;
    width: 80px;
    text-transform: uppercase;
    font-weight: 600;
}
.match-box.lost {
    margin: 0;
}
.match-box div {
    font-size: 21px;
}
.win-rating {
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
}
.winrate-percents {
    color: #ee2d42;
}
.separator-horizontal {
    font-size: 50px;
    line-height: 65px;
}
.match-box .all-matches {
    background: #3b3b3b;
    color: #fff;
}
.match-box .lost,
.match-box .wins {
    background: #ececec;
    color: #3d3d3d;
}
.steam-profile {
    float: right;
}

.steam-profile a {
    display: block;
    width: 28px;
    height: 28px;
    background: url('../images/steam.png') no-repeat 50% 50% transparent;
    background-size: 100%;
}
.steam-profile .no-steam-identity {
    margin: 45px auto 0;
}
.ban {
    background: #FF0000;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 30px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    width: 30px;
}
.no-ban a {
    display: block;
    float: right;
    margin-left: 5px;
}
.no-ban img {
    display: block;
}
body {
    background: url('../images/bg.jpg') no-repeat 50% 0 #fff;
}
#ban-above-mask {
    right: 10px;
    color: #ee2d42;
    width: 350px;
}
#ban-above-mask h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 23px;
    background: #cd3143;
    color: #fff;
    text-transform: uppercase;
}

.expiration {
    text-align: center;
    font-size: 35px;
    background: #fff;
    color: #3d3d3d;
}
#ban-above-mask .description {
    color: #000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    margin-bottom: 10px;
}
.grey {
    background: #ececec;
}
#ban-above-mask .description .grey,
#ban-above-mask .description .plain {
    padding: 0 5px;
}
.tabs {
    position: relative;
}
.image1,
.image2 {
    background-size: 100%;
}
#block-system-user-menu a,
#block-system-user-menu a:hover {
    color: #fff;
    text-decoration: none;
}
.profile-level {
    width: 270px;
    height: 105px;
    background: url('../images/profile-level.png') no-repeat 50% 50% transparent;
    margin-top: 10px;
}
.profile-level.pro {
    background: url('../images/profile-pro.png') no-repeat 50% 50% transparent;
}
.user-profile-level {
    margin-left: 20px;
}
.user-profile-level h1 {
    margin: 0 0 10px;
    font-size: 35px;
    line-height: 25px;
    display: inline;
}
.online {
    color: #00ff00;
    font-size: 25px;
}
.offline {
    color: #cd3143;
    font-size: 25px;
}
.page-user-edit .form-wrapper {
    margin: 0 10px;
}
.pic-form {
    width: 115px;
    float: left;
}
.member-for {
    margin-top: 10px;
    font-size: 15px;
}
.member-for span {
    font-weight: 700;
}
.hide-left {
    position: absolute;
    left: -99999px;
}
.send-msg,
#change-pic {
    cursor: pointer;
    background: #ececec;
    padding: 5px;
    display: block;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
}
.send-msg:hover {
    text-decoration: none;
}
.user-picture img {
    margin-bottom: 5px;
}
#footer-wrapper {
    padding: 20px;
}
.footer-bottom {
}
.footer-left {
    width: 30%;
}
.footer-right {
    width: 70%;
}
.logo-bottom {
    width: 133px;
    height: 56px;
    background: url('../images/logo-bottom.png') no-repeat 50% 50% transparent;
}
.follow-us {
    margin-left: 50px;
}
.follow-title {
    text-transform: uppercase;
    color: #fefefe;
}
.footer-bottom .social a {
    width: 28px;
    height: 28px;
    display: inline-block;
}
a.tw {
    background: url('../images/tw.png') no-repeat 50% 50% transparent;
}
a.fb {
    background: url('../images/fb.png') no-repeat 50% 50% transparent;
}
a.vk {
    background: url('../images/vk.png') no-repeat 50% 50% transparent;
}
.footer-bottom ul {
    list-style: none;
}
.footer-bottom ul li {
    float: left;
    margin-right: 20px;
    font-size: 20px;
}
#footer-wrapper ul li a {
    color: #fefefe;
}
#footer-wrapper ul li a:hover {
    text-decoration: none;
}
.copyright {
    text-align: center;
    color: #717171;
}
.copyright p {
    margin: 0;
}
.submitted .user-picture img {
    width: 20px;
}